.logo{
    height: 50px;
    display: flex;
    align-items: center;
    img{
        height: 100%;
        margin-right: 10px;
    }
    span{
        color: $main_color;
        font-size: $mainText_fontSize;
    }
}
.main_nav{
    .navigation{
        list-style: none;
    }
    li{
        display: inline-block;
        margin-right: 15px;
        a{
            text-decoration: none;
            text-transform: $text_uppercase;
            color: $navText_color;     
            font-weight: $navText_weight;   
            vertical-align: middle;
        }
    }    
}
.log-in{
    a{
        text-decoration: none;
        color: $navText_color;
        font-size: $login_fontSize;
        &:hover{
            color: #2b9af3;
        }
    }    
}

.hero{
    width: 80%;
    height: 500px;
    margin: 20px auto;
    background-image: url('https://cc-prod.scene7.com/is/image/CCProdAuthor/dt-ps-max-poster-image?$pjpeg$&jpegSize=300&wid=1440');
    background-repeat: no-repeat;
    background-size: cover;    
    position: relative;
    .hero_container{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 50px;
        padding: 15px;
        color: $text_white;
        .product-logo{        
            img{
                height: 60px;
            }
        }
        .product-description{
            font-size: $descriptionFont_size;
            p{
                font-size: $paragraphFont_size;
            }
        }
        .buttons{
            padding: 10px;
            .btn{
                 text-decoration: none;
                 font-size: $btnFont_size;
                 color: $text_white;
                 border: 1px solid #fff;
                 border-radius: 20px;
                 padding: 10px 25px;
                 font-weight: $btnFont_weight;
            }
            .btn:not(:last-child){
                margin-right: 15px;
            }
            .btn_colored{
                background-color: #1473e6;
                border-color: #1473e6;
                &:hover{
                    background-color: #0d66d0;
                    border-color: #0d66d0;
                }                
            }
            .btn_white{
                &:hover{
                    background-color: #fff;
                    color: #000;
                }
            }
        }
    }
}