$main_color: red;
$mainText_fontSize: 26px;
$text_uppercase: uppercase;
$navText_color: #2d2d2d;
$navText_weight: bold;
$login_fontSize: 18px;
$descriptionFont_size: 26px;
$paragraphFont_size: 20px;
$text_white: #fff;
$btnFont_size: 22px;
$btnFont_weight: bold;
$titleFont_size: 22px;




